prefix wd: <http://www.wikidata.org/entity/>
prefix wdt: <http://www.wikidata.org/prop/direct/>
prefix wikibase: <http://wikiba.se/ontology#>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix schema: <http://schema.org/>
PREFIX bd: <http://www.bigdata.com/rdf#>

construct {
  {{{concept}}} rdfs:label ?aLabel ;
     rdfs:subClassOf ?asc ;
     skos:altLabel ?aaltLabel ;
     schema:description ?adescr ;
     rdf:type ?atype ;
     skos:broaderPartitive ?abroader ;
     skos:narrowerPartitive ?anarrower .
  }
where {
  {{{concept}}} rdfs:label ?aLabel . filter  langMatches(lang(?aLabel), "en") .
  optional { {{{concept}}} wdt:P279 ?asc}
  optional { {{{concept}}} skos:altLabel ?aaltLabel . filter langMatches(lang(?aaltLabel), "en") . }
  optional { {{{concept}}} schema:description ?adescr . filter langMatches(lang(?adescr), "en") . }
  optional { {{{concept}}} wdt:P31 ?atype . }
  optional { {{{concept}}} wdt:P361 ?abroader . }
  optional { {{{concept}}} wdt:P527 ?anarrower . }  
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  }